* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 10ch 2fr 2fr;
    grid-template-columns: 30ch 1fr;
}

.header {
    display: grid;
    grid-column: 1 / span 2;
    background-color: aquamarine;
}

.menu, .list {
    display: grid;
    grid-row: 2 / span 2;
    background-color: bisque;
}

.menu {
    grid-template-rows: repeat(2, max-content);
    gap: 55px;
    padding: 20px;
}

.inboxes, .projects {
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
}

.list {
    background-color: aliceblue;
}

.list-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-self: center;
}

.options-menu, .task-card, .project-card {
    display: none;
}